aside
{	
    position:fixed;
    float:right;
    margin-right:0px;
    width: 3%;
    height:100%;
    top : 0px;
    right:0px;
    background-color: #00AE6A;
    background-image:-webkit-linear-gradient(right, #00AE6A 0%, #006F44 100%);
    background-image:linear-gradient(to left, #00AE6A 0%, #006F44 100%);
    vertical-align: baseline;
}

/*classe barredoutils regroupe articles et options*/
.barredoutils
{
    margin-top: 30px;
    height:150px;
    width:100%;
    float:left;
    text-align:left;
    font-size: 14px;
}

.barredoutils ul
{
    margin-left:0px;
    padding-left:0px;
}

#articles li,#options li
{   	
    margin:0;
    padding: 10px 5px;
    width: 100%;
    list-style-type: none;
    position: relative;
}

/*search barre dans la barre d'outils*/
.submenu form
{
    margin: 0;
    padding: 0;
    display: none;
    right: 100%;
    position: absolute;
    top: 0px;
}

#articles{
   margin-top: 70px; 
}


#options li:hover #search,#searche
{
    position:absolute;
    display: inline-block;
    right:100%;
    top:0px;
}
#panier a{
    margin: 0;
    padding: 0;
    width:200px;
    display:none;
    right: 100%;
    position: absolute;
    top:0px;
    background: rgba(30, 170, 140, .3);
    color: #000000;
}
#articles ul li:hover #panier a
{ 	
    position:absolute;
    display:inline-block;
    right:100%;
    top:0px;
}
#envoie{
    margin: 0;
    padding: 0;
    width:150px;
    display:none;
    right: 100%;
    position: absolute;
    top:0px;
    background: rgba(30, 170, 140, .3);
    color: #000000;
}
#options ul li:hover #envoie
{ 	
    position:absolute;
    display:inline-block;
    right:100%;
    top:0px;
}


